*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container{
    margin-top: 100px;
    margin: auto;
    width: 80%;
    min-height: 500px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

    
    
    
.container{
    height: 462px;
    width: 320px;
    background-color: blue;
    display: flex;
    position: relative;
}
.square{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    background-color: brown;
}